body {
  height: 150px;
  width: 100%;
  background-color: green; /* jika browser tidak support gradient */
  background-image: linear-gradient(90deg, rgb(230, 15, 101), rgb(255, 108, 3));
}

.image {
  margin-left: 10px;
  margin-top: 10px;
  width: 5;
  height: 5;
}

p {
  margin-bottom: 10px;
}
::placeholder {
  opacity: 0.3;
}
